node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated assets
static/favicon.ico
static/pwa-64x64.png
static/pwa-192x192.png
static/pwa-512x512.png
static/apple-touch-icon-180x180.png
static/maskable-icon-512x512.png
src/assets
manifest.webmanifest
