# Env
.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated assets
static/favicon.ico
static/pwa-64x64.png
static/pwa-192x192.png
static/pwa-512x512.png
static/apple-touch-icon-180x180.png
static/maskable-icon-512x512.png
src/assets/icons/*.webp
manifest.webmanifest

# Capacitor
ios/App/public/
ios/App/Pods/
ios/App/Podfile.lock
ios/DerivedData/
android/app/src/main/assets/public/

# Web/JavaScript
node_modules/
build/
.svelte-kit/

# iOS
ios/App/App/public
ios/DerivedData
xcuserdata/
*.xcworkspace/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
*.dSYM.zip
*.dSYM

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
local.properties
proguard/
google-services.json
GoogleService-Info.plist

# IDEs and editors
.roo
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db
