@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshis";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Satoshi Symbol.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: bold;
  font-weight: 600;
  src:
    local(""),
    url("/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Italic.ttf") format("truetype");
}

:root {
  font-family: Lato;
}

.button {
  padding: 12px 16px;
  display: flex;
  border-radius: var(--rounded-btn, 0.5rem);
  cursor: pointer;
  animation: button-pop 200ms ease-out;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.button:active:hover,
.button:active:focus {
  animation: button-pop 0s ease-out;
  transform: scale(var(--btn-focus-scale, 0.97));
}

[data-theme="dark"] {
  --stark: #111;
  --stark-content: #eee;
}

[data-theme="light"] {
  --stark: #eee;
  --stark-content: #111;
}

.text-stark {
  color: var(--stark);
}

.text-stark-content {
  color: var(--stark-content);
}

.bg-stark {
  background-color: var(--stark);
}

.bg-stark-content {
  background-color: var(--stark-content);
}
