@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshis";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Satoshi Symbol.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: bold;
  font-weight: 600;
  src:
    local(""),
    url("/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src:
    local(""),
    url("/fonts/Italic.ttf") format("truetype");
}

:root {
  font-family: Lato;
}

.card2 {
  @apply rounded-box bg-base-100 p-6 text-base-content overflow-hidden text-ellipsis;
}

.card2.card2-sm {
  @apply rounded-box bg-base-100 p-4 text-base-content;
}

.card2.card2-alt {
  @apply bg-base-300;
}

.column {
  @apply flex flex-col;
}

.center {
  @apply flex items-center justify-center;
}

.content {
  @apply m-auto w-full max-w-3xl p-12;
}

.heading {
  @apply text-center text-2xl;
}

.subheading {
  @apply text-center text-xl;
}

.superheading {
  @apply text-center text-4xl;
}

.link {
  @apply cursor-pointer text-primary underline;
}

.input input::placeholder {
  opacity: 0.5;
}

.shadow-top-xl {
  @apply shadow-[0_20px_25px_-5px_rgb(0,0,0,0.1)_0_8px_10px_-6px_rgb(0,0,0,0.1)];
}

.modal-box .z-feature {
  @apply z-modal-feature;
}

/* tiptap */

.input-editor, .chat-editor {
  @apply p-1 -m-1 min-h-12;
}


.tiptap[contenteditable="true"] {
  @apply max-h-[350px] overflow-y-auto p-2 px-4;
}

.chat-editor .tiptap[contenteditable="true"] {
  @apply rounded-box bg-base-300;
}

.input-editor .tiptap[contenteditable="true"] {
  @apply input input-bordered p-[.65rem] h-auto;
}

.tiptap pre code {
  @apply link-content block w-full;
}

.tiptap p code {
  @apply link-content;
}

.link-content {
  @apply max-w-full overflow-hidden text-ellipsis whitespace-nowrap rounded bg-neutral px-1 text-neutral-content no-underline;
}

.link-content.link-content-selected {
  @apply bg-primary text-primary-content;
}

/* date input */

.date-time-field {
  @apply input input-bordered px-0 rounded;
}
.date-time-field input {
  @apply !bg-inherit !border-none !text-inherit !w-full !h-full;
}
